.newsletter-section {
    background: #4b2d67;
    padding: 40px 20px;
    border-radius: 12px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 79vw;
    margin: auto;
  }
  
  .newsletter-box {
    max-width: 600px;
    margin: auto;
  }
  
  .newsletter-input {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .newsletter-input input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 30px;
  }
  
  .newsletter-input .btn-orange {
    background: #ff8c42;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
  }
 
/*   
  .newsletter-section::before,
  .newsletter-section::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
  } */
  
  .newsletter-section::before {
    top: 10px;
    left: 10px;
  }
  
  .newsletter-section::after {
    bottom: 10px;
    right: 10px;
  }


  @media (min-width: 320px) and (max-width: 576px) {
    .newsletter-section {
      background: #4b2d67;
      width: 100vw;
   
      border-radius: 12px;
      text-align: center;
      position: relative;
      overflow: hidden;
      
      
    }
  }
  